* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.App {
  width: 100%;
  padding: 20px;
}

.App-header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px 20px 80px 25px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
}

h1 {
  margin-top: 10px;
  font-size: 3em;
}

.resumo {
  padding: 0px 35px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: -55px;
  z-index: 1; 
  height: auto;
}

.resumo section {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  width: 30%;
  height: 90px;
}

.texto {
  width: 100%;
  display: flex;
  align-items: center;
}

.texto p {
  margin-right: 10px;
  font-size: 17px;
}

.resumo h2 {
  margin-right: 15%;
}

.resumo img {
  width: 30px;
  height: auto;
  margin-left: 10px;
}

#imgSaida {
  transform: rotate(180deg);
}

.total img {
  width: 40px;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  align-items: center;
}

.form label {
  font-weight: bold;
  margin-right: 1%;
}

.form input {
  margin-right: 13%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-left: 10%;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

#excluir {
  background-color: #dc3545;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

#excluir:hover {
  background-color: #c82333;
}

#radios {
  display: flex;
  margin-right: 2%;
}

@media (max-width: 768px) {
  th, td {
    max-width: fit-content;
  }

  button {
    margin-left: 0;
  }

  .App-header {
    padding: 20px;
  }

  .resumo {
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
  }

  .resumo section {
    width: 100%;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 2em;
  }

  .form {
    flex-direction: column;
    align-items: flex-start;
  }

  .form label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 0;
  }

  .form input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }

  button:hover {
    background-color: #0056b3;
  }
}
